.results-org-list-view
	float: "right"
	text-align: "right"
	margin-left: auto

	a
		margin-rift: 20px

	button
		postion: relative
		float: left
		height: 40px
		margin-right: 20px

	ul
		padding: 20px

	ul li
		margin: 5px
		white-space: nowrap
		height: 40px
		background-color: #333333
		vertical-align: center
		position: relative
		border-radius: 20px 60px

	label
		postion: relative
		float: left
		color: cyan
		font-size: 20px
		margin-left: 10px
		margin-right: 20px