.fancyImage
{
    // const color = animal?.gender === 'male' ? '#5555d9' : '#ffa3d9';
    border: '20px solid #000000'
    border-radius: '25px'
    margin-top: '0.5rem'
    width: '80%'
    height: '100%'
    color: '#000000'
}